<section ng-controller="MainController as main" ng-init="find()">
<div class="wrap">
  <div class="row">

    <div class="col-md-3">
      <div class="sidebar-left">
        <div class="page-header">
          <h1>Order post</h1>
        </div> <!-- .page-header-->
        <div class="list-group">
          <a ng-repeat="post in posts" class="list-group-item" ng-click="changePostCurrent(post)">
            <small class="list-group-item-text">
              <span ng-bind="post.title"></span>
            </small>
          </a>
        </div> <!-- .list-group-->
      </div> <!--.sidebar-left-->
    </div> <!--.col-md-3-->

    <div class="col-md-6">
      <div class="center-post">
          <div ng-if="!isAuth" style="display:block;height:108px">
            
          </div>
          <div class="area-add-post" ng-if="isAuth">
            <form name="articleForm" class="form-horizontal" ng-submit="isCreation? create() : update()" novalidate >
              <header class="list-group-item-text">
                <label>Title</label>
                <input type="text" name="title" ng-model="$parent.mopost.title" class="form-control" required>
                <span style="color:red" ng-show="articleForm.title.$dirty && articleForm.title.$invalid">Title is required.</span>
              </header>

              <div class="inner-language-para">
                  <div class="col-md-6 remove-padding">
                    <label for="content1">Study language</label>
                    <textarea name="content1" ng-model="$parent.mopost.content1" class="form-control inner-content-left" required>
                    </textarea>
                    <span style="color:red" ng-show="articleForm.content1.$dirty && articleForm.content1.$invalid">Study language is required.</span>
                  </div>
                  <div class="col-md-6 remove-padding">
                    <label for="content2">Translate language</label>
                    <textarea name="content2" ng-model="$parent.mopost.content2" class="form-control inner-content-right">
                    </textarea>
                  </div>
              </div>

              <div class="inner-content-linkaudio">
                    <label for="linkaudio">Link audio</label>
                    <input type="url" name="linkaudio" ng-model="$parent.mopost.linkaudio" class="form-control" required>
                    <div ng-messages="articleForm.linkaudio.$error" style="color:maroon" role="alert" ng-show="articleForm.linkaudio.$dirty && articleForm.linkaudio.$invalid">
                      <div ng-message="required">Link audio is required.</div>
                      <div ng-message="url">Link audio must be url</div>
                    </div>
              </div>

              <div class="footer">
                  <input type="submit" class="btn btn-default" ng-disabled="articleForm.$invalid">
              </div>
            </form>
          </div> <!-- .area-add-post-->

          <div class="post-current">

              <div class="header clearfix">
                  <p ng-bind="postcurrent.title" class="title-post-current"></p>  
                  <a href="#" class="remove-current" ng-click="remove(postcurrent)" ng-if="isAuth"><i class="fa fa-times"></i></a>
                  <a href="#" class="remove-current" ng-click="editformupdate(postcurrent)" ng-if="isAuth"><i class="fa fa-pencil-square-o"></i></a>

              </div>
          
              <div class="body-language">
                <div class="wrap-row">
                  <div class="inner-content-left" ng-bind="postcurrent.content1">

                  </div>
                </div>
                <div class="wrap-row">
                  <div class="inner-content-right" ng-bind="postcurrent.content2">

                  </div>
                </div>
              </div>

              <div class="footer">
                <audio ng-src="{{postcurrent.linkaudio}}" controls>
                  <source type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
              
          </div> <!-- .post-current -->
      </div> <!-- .center-post -->
    </div> <!-- .col-md-6 -->

    <div class="col-md-3">
      <div class="sidebar-right">
        <div class="page-header">
          <h1>Random post</h1>
        </div> <!-- .page-header-->
        <div class="list-group">
          <a ng-repeat="post in postrandoms" class="list-group-item" ng-click="changePostCurrent(post)">
            <small class="list-group-item-text">
              <span ng-bind="post.title"></span>
            </small>
          </a>
        </div> <!-- .list-group-->
      </div> <!--.sidebar-left-->
    </div>

  </div>
</div>  <!-- .wrap-->

  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a ui-sref="articles.create">create one</a>?
  </div>
</section>
